[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
weighted-levenshtein = "*"
datasketch = "*"
flask = "*"
pyyaml = "*"

[dev-packages]
pylint = "*"
pytest = "*"
