{% extends "layout.html.j2" %}
{% block body %}
<script>
function reload_combobox(combobox, endpoint) {
  // Remove old options
  combobox.find('option').remove();                                

  $.getJSON(
    endpoint,
    function(data) {
      $.each(data, function(index, val) {  
        var option_item = '<option value="' + val + '">' + val + '</option>';
        combobox.append(option_item);
      });
    }
  );
}
function reload_datasets() {
  $.ajaxSetup({ async: false });
  reload_combobox($('#dataset'),'/get_datasets');
  $.ajaxSetup({ async: true });
  $('#dataset').trigger("change");
}
function reload_groups() {
  var dataset = $('#dataset').val();
  reload_combobox($('#group'), '/get_groups' + '/' + dataset);
}
function reload_fields() {
  var dataset = $('#dataset').val();
  reload_combobox($('#field'), '/get_fields' + '/' + dataset);
}

$(document).ready(function() {
  $('#dataset').change(function() {
    reload_fields();
    reload_groups();
  });
  reload_datasets();
});
</script>

<section>
  <h1>Manage</h1>
  <div>
    <h2>Available datasets</h2>
    <form>
      <div>
        <label for="dataset">Dataset:</label>
        <select id="dataset" name="dataset"></select>
        <input type="button" id="delete_datasource" style="width: 200px" value="Delete Datasource">
      <div>
    </form>

    <h3>Available groups</h3>
    <form>
      <div>
        <label for="group">Group:</label>
        <select id="group" name="group"></select>
        <input type="button" id="view_group" style="width: 200px" value="View Group">
      </div>
    </form>

    <h3>Add group</h3>
    <form>
      <div>
        <label for="field">Field:</label>
        <select id="field" name="field"></select>
      </div>
      <div>
        <label for="group_template">Group template:</label>
        <select id="group_template" name="group_template">
        {% for name, template in akin.grouptemplates.items() %}
          <option value="{{ name }}" SELECTED>{{ name }}</option>
        {% endfor %}
        </select>
      </div>
      <div>
        <label for="group_results">Group results?</label>
        <input type="checkbox" name="group_results" id="group_results" value="True" checked />
      </div>
      <input type="button" id="create_group" style="width: 200px" value="Perform Grouping">
    </form>
  </div>

  <div style="margin-top: 1em">
    <h2>Add dataset</h2>
    <form id="upload_datasource" class="uploadfile">
      <div>
        <label for="file">CSV file:</label>
        <input type="file" name="file" style="width: auto">
      </div>
      <input type="submit"/>
    </form>
  </div>
</section>

<section id="groupings_section" style="display: none">
  <h2>Groupings</h2>
  <table id="datasource" class="display compact" style="overflow-x: auto" width="100%">
    <thead>
      <tr>
        <th>No columns</th>
      </tr>
    </thead>
  </table>
</section>

<script>
$("#upload_datasource").submit(function(e) {	 
  e.preventDefault();
  var formData = new FormData($(this)[0]);
  $.ajax({
    url: '{{ url_for("ui.uploadfile") }}',
    type: 'POST',
    data: formData,
    async: true,
    cache: false,
    processData: false,
    contentType: false,
    enctype: 'multipart/form-data',
    success: function (response) {
      reload_datasets()
      notify(response);
    },
    error: function (jquery, response) {
      notify(response);
    }
  });
  return false;
});

$("#delete_datasource").click(function (e) {
  e.preventDefault();
  $.ajax({
    url: "/delete_datasource",
    data: {
      id: $(this).val(), // < note use of 'this' here
      datasource: $("#dataset").val()
    },
    success: function (result) {
      reload_datasets()
      notify(result);
    },
    error: function (result) {
      notify(result);
    }
  });
});

$("#create_group").click(function (e) {
  e.preventDefault();
  $.ajax({
    url: "/create_group",
    data: {
      id: $(this).val(), // < note use of 'this' here
      dataset: $("#dataset").val(),
      field: $("#field").val(),
      group_results: $("#group_results").is(":checked"),
      group_template: $("#group_template").val()
    },
    dataType: 'json',
    success: function (result) {
      reload_groups()
    },
    error: function (result) {
      reload_groups()
    }
  });
});
  
$("#view_group").click(function (e) {
  e.preventDefault();
  $.ajax({
    url: "/get_group_data",
    data: {
      id: $(this).val(), // < note use of 'this' here
      dataset: $("#dataset").val(),
      group: $("#group").val()
    },
    dataType: 'json',
    success: function (result) {
      var group_index = 0;
      var my_columns = [];
      $.each(result.headers, function (index, header) {
        var my_item = {};
        my_item.data = index;
        my_item.title = header;
        my_columns.push(my_item);
        if (header.match('group_id$')) {
          group_index = index;
        }
      });
      var table = $('#datasource').DataTable();
      table.destroy();
      $('#datasource').empty()
      // if (typeof table.destroy === 'function') {
      //   table.destroy()
      // }
      table = $('#datasource').DataTable({
        data: result.data,
        columns: my_columns,
        iDisplayLength: 50,
        order: [[group_index, 'asc']],
        dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
          "<'row'<'col-sm-12'tr>>" +
          "<'row'<'col-sm-5'i><'col-sm-7'p>>",
        rowGroup: { dataSrc: group_index },
      });

      table.columns().every(function () {
        var col = this;
        if ($(col.header()).html().match('^_') || 
            $(col.header()).html().match('group_id$')) {
          col.visible(false);
        }
      });

      $('#groupings_section').show();
    },
    error: function (result) {
      $('#groupings_section').hide();
      notify("Failed to load group data.");
    }
  });
});
</script>
{% endblock %}