<!doctype html>
<head>
<title>Akin</title>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowgroup/1.0.2/css/rowGroup.dataTables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/rowgroup/1.0.2/js/dataTables.rowGroup.min.js"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  function notify(response) {
    if (response) {
      var notification = $('#notification');
      notification.text(response);
      notification.show();
    }
  }
</script>
{% block head %}{% endblock %}
</head>

<section class="page">
  <header>
    <h1>Welcome to Akin</h1>
  </header>
  <nav class="metanav">
    <a href="{{ url_for('ui.index') }}">manage</a>
    <a href="{{ url_for('ui.query') }}">query</a>
    <a href="https://github.com/MarketTrack/akin/tree/hackday">about</a>
  </nav>
  <section>
    <div id="notification" class="flash" style="display: none;"></div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
    <div id="flash" class="flash">
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
      {% endif %}
    {% endwith %}
  </section>
  {% block body %}{% endblock %}
</section>