{% extends "layout.html.j2" %}
{% block head %}
<style rel="stylesheet">
form                 { margin-top: 0.75em; overflow: auto; }
form label           { width: 7em; text-align: right; display: inline-block; }
form > input         { margin-left: 6.9em; display: block; }
form > fieldset      { margin-left: 7.2em; width: 30%; display: block; }
#datasource_wrapper  { margin-top: 1em; width: 100%; overflow-x: auto; }
</style>
{% endblock %}
{% block body %}
<script>
function update_datasets(select_element, endpoint) {
  $.getJSON(
    endpoint,
    function(data) {
      select_element.find('option').remove();

      $.each(data, function(index, datasource_name) {  
        select_element.append(
          $('<option>', {
            'value': datasource_name,
            text: datasource_name,
          })
        );
      });

      select_element.trigger('change');
    }
  );
}
function update_options() {
  if (this.value !== '') {
    update_fieldset($('#fields'), '/get_groups/' + this.value);
  }
}
function update_fieldset(fieldset, endpoint) {
  $.getJSON(
    endpoint,
    function(data) {
      fieldset.find('div').remove();

      $.each(data, function(index, group) {
        new_field = $('<div>');
        new_field.append(
          $('<input>', {
            'type': 'checkbox',
            'id': group,
            val: group,
          }),
          $('<label>', {
            'for': group,
            text: group,
          })
        );
        fieldset.append(new_field);
      });
    }
  );
}
function query(e) {	 
  e.preventDefault();
  var query_data = {
    'datasource_name': $('#datasets').val(),
    'query': $('#query').val(),
    'group_names': $('#fields').find('input[type="checkbox"]:checked').map(function() { return $(this).val() }).get()
  };
  $.ajax({
    url: '{{ url_for("ui.query") }}',
    type: 'POST',
    contentType: 'application/json; charset=utf-8',
    dataType: 'json',
    data: JSON.stringify(query_data),
    async: true,
    cache: false,
    processData: false,
    success: function (result) {
      console.log(result);
      var my_columns = [];
      $.each(result.headers, function (index, header) {
        var column = {
          'data': index,
          'title': header,
        };
        my_columns.push(column);
      });
      var table = $('#datasource').DataTable();
      table.destroy();
      $('#datasource').empty()
      $('#groupings_section').show();
      table = $('#datasource').DataTable({
        data: result.data,
        columns: my_columns,
        pageLength: 50,
        autoWidth: false,
      });

      table.columns().every(function () {
        var col = this;
        if ($(col.header()).html().match('^_') || 
            $(col.header()).html().match('group_id$')) {
          col.visible(false);
        }
      });
    },
    error: function (result) {
      console.log(result);
      $('#groupings_section').hide();
      notify("Failed to load group data.");
    }
  });
}
$(document).ready(function() {
  datasets = $('#datasets');
  datasets.change(update_options);
  update_datasets(datasets, '/get_datasets');
  $("#query_form").submit(query);
  $("#fields").change(query);
  $("#query").on('input propertychange paste', query);
});
</script>

<section>
  <h2>Query</h2>
  <form id="query_form">
    <div>
      <label for="datasets">Dataset:</label>
      <select id="datasets" name="datasets" style="min-width: 22em"></select>
    </div>
    <div>
      <label for="query">Query:</label>
      <input type="text" id="query" name="query" style="min-width: 26em">
      <input type="submit" value="Query">
    </div>

    <fieldset id="fields">
      <legend>Fields</legend>
      <div>No fields available.</div>
    </fieldset>
  </form>
</section>

<section id="groupings_section" style="display: none">
  <h2>Results</h2>
  <table id="datasource" class="display compact">
    <thead>
      <tr>
        <th>No columns.</th>
      </tr>
    </thead>
  </table>
</section>
{% endblock %}